* {
    padding: 0px;
    border: 0px;
    box-sizing: border-box;

}



.ulImage {
    display: flex;
    justify-content:center;
    align-items: center;
}

.image {
    width: 150px;
    height: 70px;
    border-radius: 5px;
    overflow: hidden;
    margin: 5px 10px;
    transition: 0.4s;
}

.image .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.image:hover {
    box-shadow: 0 10px 14px -10px #333 ;

}

.viewImage {
    width: 800px;
    height: 370px;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px auto;
}

.viewImage .bigImg {
    width: 100%;
    height: 100%;
    object-fit: cover;

}